<div id="connect">
    <section>
        <div class="content">
            <form name="contactFormInput" method="post" role="form" ng-submit="submit(contactFormInput)" novalidate>
                
                    <h3>Hit me up</h3>
                
                    <div>
                        <label for="name">Name:</label>
                        <input type="text" id="name" name="name" ng-model="formData.name" ng-focus="removeValidationError()" required>
                    </div>
                    <div>
                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email" ng-model="formData.email" ng-focus="removeValidationError()" required>
                    </div>
                    <div>
                        <label for="messsage">Message:</label>
                        <textarea id="messsage" name="message" ng-model="formData.message" ng-focus="removeValidationError()" required></textarea>
                    </div>
                    <div class="comment-field">
                        <label for="comment">Comment:</label>
                        <input type="text" id="comment" name="comment" ng-model="formData.comment">
                    </div>
                
                <button type="submit" ng-disabled="submitButtonDisabled">Submit</button>
            </form>
            <p ng-class="{{resultClass}}">{{resultMessage}}</p>
        </div>
    </section>
</div>