<section class="white-background">
	<div class="content center" style="font-size: 0;">
		<div class="placeholder"></div>
		<div class="placeholder"></div>
		<div class="placeholder"></div>
	</div>
</section>

<post-summary post-order="1"></post-summary>

<section class="white-background">
	<div class="content center">
		<h2 class="quote">Whatever you are, be a good one</h2>
	</div>
</section>

<post-summary post-order="2"></post-summary>