// Blog Page

#blog
	.content
		position relative
		h2
			margin 0
			display inline-block
		span
			position absolute
			right 0
			margin-top 7px
		p
			&:first-of-type
				border-top 1px solid black
				padding-top 20px
				margin-top 10px
			&:last-of-type
				margin-bottom 40px