html
	height 100%

body
	height 100%
	margin 0

section
	width 100%
	padding 30px 0

// Common Classes

.center
	text-align center

.content
	width contentWidth
	margin 0 auto
	padding 20px 0 30px 0
	overflow hidden

.green-background
	background-color neonGreen

.white-background
	background-color #ffffff

.placeholder
	background-color gray
	display inline-block
	width 200px
	height 200px
	margin 0 65px
