// Header
header
	width 100%
	nav
		width 100%
		height 50px
		line-height 50px
		position fixed
		top 0
		border-bottom 1px solid #000001
		z-index 100
		background-color #ffffff;
		#nav-menu
			width contentWidth
			margin 0 auto
			position relative
			div
				display inline-block
				vertical-align middle
			#nav-logo
				position absolute
				left 0
				width 150px
				p
					margin 0
			#site-nav
				a
					display inline-block
					margin 0 50px
					text-decoration none
					color #000001
			#social-nav
				font-size 30px
				position absolute
				right 0
				width 150px
				a
					display inline-block
					.fa-facebook-official
						color #000001
					.fa-instagram
						color #000001
	section
		height 250px
		margin-top 50px
		box-sizing border-box
		background url(../images/beach.jpg)
		background-size 100%