// Home Page

h2.quote
	display inline-block
	position relative
	font-size 2em
	&:before, &:after
		content ""
		position absolute
		height 5px
		border-bottom 1px solid #000001
		border-top 1px solid #000001
		top 18px
		width 500px
	&:before
		right 100%
		margin-right 25px
	&:after
		left 100%
		margin-left 25px
