// MANAGE POSTS PAGE
#post-admin
	font-family adminArial
	.new-post
		margin 20px 0 20px 0
		a
			text-decoration none
			font-size 20px
			color #000001

	table
		border-collapse collapse
		.post-row
			cursor pointer
			&:hover
					background-color adminLightGrey
		td
			border 1px solid adminGrey
			padding 5px 10px