// Admin Core
html
	min-height 100%
	position relative

body, html
	padding 0
	margin 0
	font-size 0

nav
	background-color adminGrey
	height 40px
	width 100%
	position fixed
	font-family adminArial
	border-bottom 2px solid adminWhite
	font-size 16px
	z-index 1000
	#auth-container
		position absolute
		right 30px
		line-height 40px
		display inline-block
	#admin-title
		display inline-block
		position absolute
		left 30px
	a, span
		color adminWhite
		text-decoration none
		font-weight bold
		line-height 40px

#admin-nav-pannel
	background-color adminLightGrey
	padding 50px 0 0 30px
	position absolute
	top 0
	left 0
	bottom 0
	width 200px
	box-sizing border-box
	font-size 16px
	font-family adminArial
	vertical-align top
	a
		display block
		text-decoration none
		color #000001
		padding-top 10px

#console
	font-size 16px
	height 100%
	vertical-align top
	padding 50px 0 0 230px
	box-sizing border-box