// EDIT POST
#edit-post
	font-family adminArial
	.label, .value
		display inline-block
		p, input, textarea
			margin 0.5em 0 0.5em 0
	.label
		width 150px
		vertical-align top
	.value
		input
			padding 5px 10px
		#post-content
			width 700px
			height 300px
		.radio-lable
			display inline-block
	.value.radio-buttons
		margin 0.5em 0 0.5em 0