<div id="post-admin">

	<div class="new-post">
		<a href="">Create New Post</a>
	</div>

	<table>
		<tr class="post-row" ng-repeat="post in blogPosts" ng-click="editLink(post.id)">
			<td class="post-id">
				{{post.id}}
			</td>
			<td class="post-title">
				{{post.title}}
			</td>
			<td class="create-date">
				{{post.create_date}}
			</td>
		</tr>
	</table>

</div>