<div id="edit-post">
	<h2>Edit Post</h2>

	<div class="form-row">
		<div class="label">
			<p>Post ID:</p>
		</div>
		<div class="value">
			<p>{{blogPost[0].id}}</p>
		</div>
	</div>
	<div class="form-row">
		<div class="label">
			<p>Create Date:</p>
		</div>
		<div class="value">
			<p>{{blogPost[0].create_date}}</p>
		</div>
	</div>

	<form name="editPostForm" method="post" role="form" novalidate>		
		<div class="form-row">
			<div class="label">
				<p>Title:</p>
			</div>
			<div class="value">
				<input type="text" name="post-title" ng-model="blogPost[0].title">
			</div>
		</div>
		<div class="form-row">
			<div class="label">
				<p>Body:</p>
			</div>
			<div class="value">
				<textarea ck-editor name="post-content" id="post-content" ng-model="blogPost[0].content"></textarea>
			</div>
		</div>
		<div class="form-row">
			<div class="label">
				<p>Tags:</p>
			</div>
			<div class="value">
				<input type="text" name="post-tags" value="need to add tags functionality">
			</div>
		</div>
		<div class="form-row">
			<div class="label">
				<p>Post Status:</p>
			</div>
			<div class="value radio-buttons">
				<input type="radio" ng-model="blogPost[0].status" value="draft"><span class="radio-lable">&nbsp;Draft</span><br />
				<input type="radio" ng-model="blogPost[0].status" value="published"><span class="radio-lable">&nbsp;Published</span>
			</div>
		</div>
	</form>
</div>